@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  @font-face {
    font-family: "Power Grotesk";
    src: url(../fonts/PowerGrotesk-Regular.ttf) format(truetype);
  }
  @font-face {
    font-family: "Power Grotesk Black";
    src: url(../fonts/PowerGrotesk-Black.ttf) format(truetype);
  }

  @font-face {
    font-family: "Editorial old";
    src: url(../fonts/ppeditorialold-regular.otf) format(opentype);
  }
  @font-face {
    font-family: "Editorial old italic";
    src: url(../fonts/ppeditorialold-italic.otf) format(opentype);
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
@layer utilities {
  .neon-green {
    background-color: #beff34;
  }
  .dark-purple {
    background-color: #5546fb;
  }
  .light-purple {
    background-color: #d4a1fe;
  }
  .red {
    background-color: #ed4245;
  }
}

@layer components {
  .navbar {
    @apply bg-black px-5 py-3 text-white m-5 rounded-full flex justify-between items-center lg:w-8/12 lg:mx-auto;
  }

  .hamburger {
    @apply block cursor-pointer transition duration-300 lg:hidden;
  }

  .bar {
    @apply block w-[25px] h-[2px] my-1 mx-auto bg-primary-accent;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
    height: 90vh;
  }
  .nav-menu {
    @apply space-y-10 py-10 md:px-0;
  }

  .nav-menu.active {
    right: 0;
  }
  .nav-menu .nav-link {
    @apply text-white text-5xl px-5 lg:px-3;
  }
  .hamburger.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: 0.4s;
  }

  .hamburger.active .bar2 {
    opacity: 0;
    transition: 0.4s;
  }

  .hamburger.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    transform: rotate(45deg) translate(-3px, -3px);
    transition: 0.4s;
  }
  .btn-pill {
    @apply bg-primary-accent !text-black py-2 px-5 rounded-full text-center !mx-0 md:!ml-10;
  }
  .scroll-text {
    @apply uppercase text-8xl whitespace-nowrap font-sans-black text-[#1A154C]  md:text-9xl lg:text-[200px] 2xl:text-[250px];
  }
  .scroll-text,
  .strap,
  .scrolling-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }

  @keyframes my-animation {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .heading-text {
    @apply text-white text-5xl md:text-7xl md:w-10/12 lg:w-3/4 2xl:text-9xl 2xl:w-8/12;
  }
  .heading-text span {
    @apply font-serif-italic;
  }
  .subheading {
    @apply my-5 uppercase text-sm md:text-base md:w-1/2 md:ml-auto lg:w-1/3 2xl:text-2xl 2xl:w-1/3 2xl:mt-10 2xl:mr-20;
  }
  .btn-primary {
    @apply bg-primary-accent rounded-full py-3 px-10 text-black uppercase md:text-4xl hover:bg-white hover:-translate-y-2 hover:shadow-md hover:transition-all;
  }
  .strap {
    @apply uppercase text-4xl whitespace-nowrap font-sans font-bold  mt-20 flex text-primary-accent bg-black p-1 space-x-5 items-center 2xl:text-7xl;
  }
  .strap-bg {
    -webkit-transform: rotate(-10deg) translate(10px, 10px);
    transform: rotate(-10deg) translate(10px, 10px);
    background-color: black;
    width: 150%;
    position: relative;
    bottom: -20px;
  }
  .reel-container {
    height: 400px;
    margin: 20px;
    border-radius: 10%;
  }
  .reel-container {
    @apply lg:mx-20 lg:h-[500px] xl:h-[600px] 2xl:h-[700px] overflow-hidden flex justify-center;
  }

  .socials {
    @apply p-5;
  }
  .socials .title {
    @apply uppercase text-white text-center text-sm md:text-xl md:mx-20 lg:mx-40 lg:text-2xl xl:text-4xl 2xl:text-5xl;
  }
  .socials .title-accent {
    @apply text-primary-accent lowercase font-serif-italic;
  }
  .social-heading,
  .problem-heading {
    @apply text-white text-5xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-[156px];
  }
  .problem-heading {
    @apply pb-10 text-center text-4xl md:text-6xl lg:px-20 xl:text-8xl 2xl:px-40;
  }
  .social-splide {
    @apply py-10 md:py-20;
  }
  .problem-img-bg {
    @apply flex items-end h-[500px] w-full md:h-[600px] lg:h-[500px] xl:h-[600px];
  }
  .problem-title {
    @apply leading-none text-2xl lg:text-3xl 2xl:text-5xl;
  }
  .problem-last-heading,
  .benefits-heading {
    @apply text-black text-6xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-[156px];
  }
  .problem-last-container {
    background: url("../assets/img/img-plastic-cover.png") no-repeat center;
    background-size: contain;
    background-color: #beff34;
  }
  .caption-container {
    @apply p-10 pb-40 md:w-1/2 md:ml-auto md:pr-20 md:pt-20;
  }
  .caption-container .caption {
    @apply text-black uppercase leading-tight pb-5 lg:text-lg xl:text-xl 2xl:text-2xl;
  }
  .scrolling-text {
    @apply text-6xl whitespace-nowrap font-bold md:text-8xl 2xl:text-9xl;
  }
  .benefits-caption {
    @apply uppercase text-center text-2xl mt-4 md:w-1/2 mx-auto lg:w-auto;
  }
  .benefits-icon {
    @apply w-3/4 mx-auto md:w-1/3 lg:w-1/2;
  }
  .benefits-icon.bell {
    @apply w-11/12 md:w-1/2 lg:w-11/12;
  }
  .benefits-testimonial {
    @apply mx-3 my-10 light-purple rounded-3xl px-5 py-20 text-center text-white md:px-20 md:mx-6 2xl:mx-16 lg:mb-20 2xl:px-40 2xl:mb-40;
  }
  .quote-icon {
    @apply mx-auto w-[40px] md:w-auto;
  }
  .benefits-testimonial .testimonial {
    @apply text-4xl my-20 md:text-6xl xl:text-8xl;
  }
  .benefits-testimonial .company {
    @apply md:text-2xl 2xl:text-4xl;
  }

  .video-testimonial {
    @apply h-[400px] rounded-3xl mx-2 my-5 lg:mx-20 lg:h-[500px] xl:h-[600px] 2xl:h-[700px] overflow-hidden flex justify-center;
  }
  .testimonial-heading {
    @apply text-center text-5xl my-10;
  }
  .testimonials {
    @apply mx-4 border-4 rounded-3xl p-10 h-full;
  }
  .testimonials .star {
    @apply w-5 inline-block mr-1;
  }
  .testimonials .title {
    @apply font-bold font-serif-italic text-3xl my-6;
  }
  .testimonials .testimonial {
    @apply text-xl;
  }
  .testimonials .company {
    @apply text-xl font-light mt-10;
  }
  .secondary-button {
    @apply border-4 my-10  px-10 py-5 rounded-full uppercase font-bold text-xl hover:bg-primary-color 2xl:text-4xl;
  }
  .works {
    @apply lg:px-10 pt-10 grid grid-cols-1 gap-10;
  }
  .works-heading {
    @apply text-7xl text-center 2xl:text-9xl;
  }

  .work-img {
    @apply w-full rounded-3xl border-2 h-[500px] object-cover xl:h-[700px] 2xl:h-[800px];
  }
  .work-container .description {
    @apply px-3 py-5 md:flex md:justify-between  md:items-baseline 2xl:py-10;
  }
  .text-btn {
    @apply text-5xl font-serif-italic text-center 2xl:text-8xl;
  }
  .painpoints-heading {
    @apply text-5xl md:text-7xl 2xl:text-9xl 2xl:px-10 px-2;
  }
  .painpoints-img {
    @apply grayscale rounded-3xl my-10 object-cover h-[400px] 2xl:w-full;
  }
  .painpoints-caption {
    @apply uppercase text-xl text-center px-5 md:w-3/4 md:mx-auto md:text-3xl pb-20 xl:w-1/2 2xl:text-5xl 2xl:w-7/12;
  }
  .painpoints-title {
    @apply md:text-xl lg:text-base xl:text-lg 2xl:text-xl;
  }
  .painpoints-splide {
    @apply 2xl:py-10;
  }
  .painpoints-caption .highlight {
    @apply lowercase rounded-full font-serif-italic bg-black p-1;
  }
  .solution-heading {
    @apply text-3xl px-10 py-10 text-center md:text-7xl md:px-20 md:text-left lg:pt-20 xl:text-8xl 2xl:text-9xl;
  }
  .solution-img {
    @apply px-2 mb-5 rounded-3xl md:px-20;
  }
  .solution-description {
    @apply px-5 md:px-40 md:pt-10;
  }
  .solution-description .title {
    @apply uppercase mb-10 text-sm md:text-2xl md:mb-20 lg:pl-40 2xl:text-4xl;
  }
  .solution-description .round {
    @apply px-4 py-1 rounded-full border-2 w-fit mb-5 md:px-9 md:py-3 md:ml-40 md:mb-10 lg:ml-96 2xl:ml-[32rem];
  }
  .solution-description .list {
    @apply uppercase md:ml-40 text-xl  lg:ml-96 xl:text-3xl 2xl:ml-[32rem];
  }
  .brands {
    @apply bg-black text-white py-20;
  }
  .brands-title {
    @apply italic text-6xl text-center uppercase lg:text-7xl xl:text-8xl 2xl:text-9xl;
  }
  .brands-title-highlight {
    @apply text-light-purple font-serif-italic text-6xl text-center lowercase lg:text-7xl xl:text-8xl 2xl:text-9xl;
  }
  .brands-splide .logo {
    @apply py-4 px-6 rounded-full border-2 w-fit text-2xl text-center md:text-4xl md:px-8 xl:text-5xl 2xl:text-6xl 2xl:px-10;
  }
  .brands-logo {
    @apply my-10 lg:my-20;
  }
  .logo-slide {
    @apply flex justify-center text-center;
  }
  .match-container {
    @apply text-black bg-white rounded-3xl px-5 py-20;
  }
  .match-container .title {
    @apply text-5xl text-center px-5 md:w-1/2 md:mx-auto lg:text-6xl 2xl:w-1/3 2xl:px-0 2xl:text-7xl;
  }
  .match-container .subtitle {
    @apply uppercase text-center mt-6 mb-10 lg:text-2xl;
  }
  .match-container .list-container {
    @apply p-10 border-4 rounded-3xl border-light-purple border-dashed md:w-1/2 md:mx-auto 2xl:w-1/3;
  }
  .match-container .list-container .text {
    @apply py-3 leading-none lg:text-lg 2xl:text-2xl;
  }
  .contacts {
    @apply px-8 py-10 md:flex md:px-20 md:pt-20 lg:text-xl xl:pt-40 xl:pl-40 xl:pb-20 xl:text-2xl 2xl:text-4xl;
  }
  .arrow {
    @apply mt-10 md:mt-0 ml-auto p-2 border-4 w-fit rounded-xl;
  }
  .social-media {
    @apply flex justify-around text-white pb-5 lg:text-xl 2xl:text-4xl;
  }
  .calendly-inline-widget {
    @apply relative z-50;
  }
  ._cUP1np9gMvFQrcPftuf.xahN8AEzyAvQtVj17TPv {
    @apply mt-0 mb-0;
  }
  .about-h2 {
    @apply text-white text-4xl mb-14 font-serif text-center lg:w-9/12 mx-auto xl:text-6xl xl:w-11/12 2xl:text-7xl;
  }
  .about-numbers {
    @apply grid grid-cols-3 py-10 text-white lg:py-16;
  }
  .about-numbers .count {
    @apply text-light-purple text-5xl  text-center md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl;
  }
  .about-numbers .label {
    @apply text-center uppercase text-[0.6rem] md:text-xs lg:text-sm xl:text-base 2xl:text-xl;
  }
  .parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
  }
  .parallax-group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
  }

  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s;
  }
  .envelop {
    transform: translateZ(-300px) scale(2) translateX(-10%) translateY(40%);
    z-index: 1;
  }
  .phone {
    transform: translateZ(-500px) scale(1.5) translateX(10%);

    z-index: 2;
    display: none;
  }
  .laptop {
    transform: translateZ(-200px) scale(2) translateX(20%) translateY(25%);

    z-index: 3;
  }
  .card-pen {
    transform: translateZ(-100px) scale(0.7) translateX(-68%) translateY(-20%);
    z-index: 4;
  }
  .card {
    transform: translateZ(-200px) scale(1.1) translateX(10%);

    z-index: 5;
    display: none;
  }
  .brand {
    transform: translateZ(-100px) scale(1.1) translateX(10%);

    z-index: 6;
    display: none;
  }
  .heading-text.about {
    @apply text-center mx-auto text-8xl md:text-9xl lg:text-8xl xl:text-9xl;
  }
  .about-why {
    @apply py-10 px-10 text-white text-center bg-black md:p-20;
  }
  .about-why > .heading {
    @apply text-7xl font-serif-italic md:text-8xl 2xl:text-9xl;
  }
  .about-img {
    @apply h-[500px] rounded-full w-full -mt-16 md:h-[400px] lg:w-8/12 mx-auto xl:w-1/2 2xl:h-[550px] 2xl:w-7/12;
    background: url(../assets/img/problems/img-peter-parker-meme.png) no-repeat center bottom;
    background-size: contain;
    background-color: #eb459e;
  }
  .about-why .caption .heading {
    @apply text-xl my-5 md:text-3xl md:w-10/12 mx-auto md:my-10 lg:w-7/12 xl:w-1/2 xl:text-4xl 2xl:text-5xl;
  }
  .about-why .caption .subcaption {
    @apply text-[0.6rem] my-5 w-8/12 mx-auto md:text-xs md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:text-sm;
  }
  .about-ceo-section {
    @apply bg-gradient-to-b from-black from-50% to-primary-accent to-50%;
  }
  .about-ceo-container {
    @apply bg-light-purple rounded-3xl text-white;
  }
  .about-ceo {
    @apply py-10 px-10 md:px-28 lg:px-40 2xl:py-20 2xl:px-52;
  }
  .q-mark svg {
    @apply h-5 w-5 md:w-8 md:h-8 xl:w-10;
  }
  .quote p {
    @apply text-4xl md:text-6xl xl:text-8xl 2xl:text-9xl;
  }
  .quote span {
    @apply font-serif-italic;
  }
  .ceo-details {
    @apply mt-10 md:grid md:grid-cols-2 md:gap-10 xl:mt-20 xl:w-10/12 mx-auto;
  }
  .ceo-details .details {
    @apply mt-5 md:mt-0;
  }
  .ceo-details img {
    @apply rounded-3xl lg:w-8/12 lg:ml-auto xl:w-7/12;
  }
  .ceo-details .name {
    @apply text-5xl 2xl:text-6xl;
  }
  .ceo-details .position {
    @apply uppercase text-sm mb-10 mt-3 2xl:text-lg;
  }
  .ceo-details .message {
    @apply mb-5 2xl:text-2xl;
  }
}
@media (min-width: 768px) {
  .reel-container {
    @apply rounded-full;
  }

  .social-reel {
    @apply p-10;
  }

  .parallax-group {
    height: 100vh;
  }
  .envelop {
    transform: translateZ(-300px) scale(1.5) translateX(-10%) translateY(41%);
  }
  .laptop {
    transform: translateZ(-200px) scale(1.5) translateX(20%) translateY(20%);
  }
  .card-pen {
    transform: translateZ(-100px) scale(1) translateX(-20%) translateY(7%);
  }

  .brand {
    transform: translateZ(-10px) scale(0.7) translateX(80%) translateY(-21%);

    display: block;
  }
}
@media (min-width: 1024px) {
  .nav-menu {
    position: static;
    display: flex;
    height: auto;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }
  .nav-menu {
    @apply space-y-0 py-0 space-x-5 ml-auto;
  }
  .nav-menu .nav-link {
    @apply text-base xl:text-2xl;
  }
  .parallax-group {
    height: 200vh;
  }

  .envelop {
    transform: translateZ(-600px) scale(1.5) translateX(-10%) translateY(50%);
    z-index: 1;
  }
  .phone {
    transform: translateZ(-400px) scale(1.2) translateX(93%) translateY(28%);

    z-index: 2;
    display: block;
  }
  .laptop {
    transform: translateZ(-500px) scale(1.4) translateX(10%) translateY(20%);

    z-index: 3;
  }
  .card-pen {
    transform: translateZ(-300px) scale(1) translateX(-15%) translateY(10%);
    z-index: 4;
  }
  .card {
    transform: translateZ(-200px) scale(0.9) translateX(50%) translateY(40%);

    z-index: 5;
    display: block;
  }
  .brand {
    transform: translateZ(-200px) scale(0.8) translateX(90%) translateY(-10%);

    z-index: 6;
    display: block;
  }
}
@media (min-width: 1280px) {
  .envelop {
    transform: translateZ(-600px) scale(1.8) translateX(-2%) translateY(38%);
  }
  .phone {
    transform: translateZ(-400px) scale(1.4) translateX(90%) translateY(23%);
  }
  .laptop {
    transform: translateZ(-500px) scale(1.8) translateX(20%) translateY(20%);
  }
  .card-pen {
    transform: translateZ(-300px) scale(1.3) translateX(0%) translateY(10%);
  }
  .card {
    transform: translateZ(-200px) scale(1.4) translateX(45%) translateY(29%);
  }
  .brand {
    transform: translateZ(-200px) scale(1) translateX(85%) translateY(-5%);
  }
}
@media (min-width: 1536px) {
  .envelop {
    transform: translateZ(-600px) scale(2.1) translateX(10%) translateY(39%);
  }
  .phone {
    transform: translateZ(-400px) scale(1.7) translateX(82%) translateY(30%);
  }
  .laptop {
    transform: translateZ(-500px) scale(2.1) translateX(25%) translateY(25%);
  }
  .card-pen {
    transform: translateZ(-300px) scale(1.5) translateX(8%) translateY(18%);
  }
  .card {
    transform: translateZ(-200px) scale(1.6) translateX(47%) translateY(31%);
  }
  .brand {
    transform: translateZ(-200px) scale(1.2) translateX(79%) translateY(7%);
  }
}
@media (min-width: 1920px) {
  .heading-text {
    @apply text-[10rem];
  }
  .social-reel {
    @apply p-40;
  }
  .reel-container {
    @apply h-[800px];
  }
  .socials .title {
    @apply mx-80;
  }
  .problem-heading {
    @apply text-9xl;
  }
  .caption-container .caption {
    @apply text-4xl;
  }
  .envelop {
    transform: translateZ(-600px) scale(2.3) translateX(17%) translateY(39%);
  }
  .phone {
    transform: translateZ(-400px) scale(1.9) translateX(74%) translateY(32%);
  }
  .laptop {
    transform: translateZ(-500px) scale(2.2) translateX(30%) translateY(27%);
  }
  .card-pen {
    transform: translateZ(-300px) scale(1.6) translateX(16%) translateY(18%);
  }
  .card {
    transform: translateZ(-200px) scale(1.6) translateX(47%) translateY(31%);
  }
  .brand {
    transform: translateZ(-200px) scale(1.3) translateX(72%) translateY(10%);
  }
  .heading-text.about {
    @apply text-[10rem];
  }
  .about-why > .heading {
    @apply text-[10rem];
  }
  .about-img {
    @apply h-[700px] -mt-24;
  }
  .about-why .caption .heading {
    @apply text-[3.50rem];
  }
  .about-why .caption .subcaption {
    @apply text-lg;
  }
  .about-ceo {
    @apply px-72;
  }
  .ceo-details .name {
    @apply text-7xl;
  }
  .ceo-details .position {
    @apply text-2xl;
  }
  .ceo-details .message {
    @apply text-3xl;
  }
  .about-h2 {
    @apply w-10/12 text-8xl;
  }
  .about-numbers {
    @apply w-10/12 mx-auto;
  }
  .about-numbers .count {
    @apply text-[10rem];
  }
  .about-numbers .label {
    @apply text-4xl;
  }
}
