@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Power Grotesk";
    src: url(../fonts/PowerGrotesk-Regular.ttf) format(truetype);
  }
  @font-face {
    font-family: "Power Grotesk Black";
    src: url(../fonts/PowerGrotesk-Black.ttf) format(truetype);
  }

  @font-face {
    font-family: "Editorial old";
    src: url(../fonts/ppeditorialold-regular.otf) format(opentype);
  }
  @font-face {
    font-family: "Editorial old italic";
    src: url(../fonts/ppeditorialold-italic.otf) format(opentype);
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
@layer utilities {
  .neon-green {
    background-color: #beff34;
  }
  .dark-purple {
    background-color: #5546fb;
  }
  .light-purple {
    background-color: #d4a1fe;
  }
  .red {
    background-color: #ed4245;
  }
}

@layer components {
  .navbar {
    @apply bg-black px-5 py-3 text-white m-5 rounded-full flex justify-between items-center lg:w-8/12 lg:mx-auto;
  }

  .hamburger {
    @apply block cursor-pointer transition duration-300 md:hidden;
  }

  .bar {
    @apply block w-[25px] h-[2px] my-1 mx-auto bg-primary-accent;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
    height: 90vh;
  }
  .nav-menu {
    @apply space-y-10 py-10 md:px-0;
  }

  .nav-menu.active {
    right: 0;
  }
  .nav-menu .nav-link {
    @apply text-white text-5xl mx-10;
  }
  .hamburger.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: 0.4s;
  }

  .hamburger.active .bar2 {
    opacity: 0;
    transition: 0.4s;
  }

  .hamburger.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    transform: rotate(45deg) translate(-3px, -3px);
    transition: 0.4s;
  }
  .btn-pill {
    @apply bg-primary-accent !text-black py-2 px-5 rounded-full text-center !mx-0 md:!ml-10;
  }
  .scroll-text {
    @apply uppercase text-8xl whitespace-nowrap font-sans-black text-[#1A154C] mt-10 md:text-9xl lg:text-[200px];
  }
  .scroll-text,
  .strap,
  .scrolling-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }

  @keyframes my-animation {
    from {
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .heading-text {
    @apply text-white text-5xl md:text-7xl md:w-10/12 lg:w-3/4 2xl:text-9xl 2xl:w-7/12;
  }
  .heading-text span {
    @apply font-serif-italic;
  }
  .subheading {
    @apply my-5 uppercase text-sm md:text-base md:w-1/3 md:ml-auto 2xl:text-xl 2xl:w-1/4 2xl:mr-20;
  }
  .btn-primary {
    @apply bg-primary-accent rounded-full py-2 px-10 text-black uppercase md:text-2xl;
  }
  .strap {
    @apply uppercase text-4xl whitespace-nowrap font-sans font-bold  mt-20 flex text-primary-accent bg-black p-1 space-x-5 items-center 2xl:text-7xl;
  }
  .strap-bg {
    -webkit-transform: rotate(-10deg) translate(10px, 10px);
    transform: rotate(-10deg) translate(10px, 10px);
    background-color: black;
    width: 150%;
    position: relative;
    bottom: -20px;
  }
  .reel-container {
    height: 400px;
    margin: 20px;
    border-radius: 10%;
  }
  .reel-container {
    @apply lg:mx-20 lg:h-[500px] xl:h-[600px] 2xl:h-[700px] overflow-hidden flex justify-center;
  }

  .socials {
    @apply p-5;
  }
  .socials .title {
    @apply uppercase text-white text-center text-sm md:text-xl md:mx-20 lg:mx-40 lg:text-2xl xl:text-4xl 2xl:text-5xl;
  }
  .socials .title-accent {
    @apply text-primary-accent lowercase font-serif-italic;
  }
  .social-heading,
  .problem-heading {
    @apply text-white text-5xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-[156px];
  }
  .problem-heading {
    @apply pb-10 text-center text-4xl md:text-6xl lg:px-20 xl:text-8xl 2xl:px-40;
  }
  .social-splide {
    @apply py-10 md:py-20;
  }
  .problem-img-bg {
    @apply flex items-end h-[500px] w-full md:h-[600px] lg:h-[500px] xl:h-[600px] 2xl:h-[800px];
  }
  .problem-title {
    @apply leading-none text-2xl lg:text-3xl 2xl:text-5xl;
  }
  .problem-last-heading,
  .benefits-heading {
    @apply text-black text-6xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-[156px];
  }
  .problem-last-container {
    background: url("../assets/img/img-plastic-cover.png") no-repeat center;
    background-size: contain;
    background-color: #beff34;
  }
  .caption-container {
    @apply p-10 pb-40 md:w-1/2 md:ml-auto md:pr-20 md:pt-20;
  }
  .caption-container .caption {
    @apply text-black uppercase leading-tight pb-5 lg:text-lg xl:text-xl 2xl:text-2xl;
  }
  .scrolling-text {
    @apply text-6xl whitespace-nowrap font-bold md:text-8xl 2xl:text-9xl;
  }
  .benefits-caption {
    @apply uppercase text-center text-2xl mt-4 md:w-1/2 mx-auto lg:w-auto;
  }
  .benefits-icon {
    @apply w-3/4 mx-auto md:w-1/2;
  }
  .benefits-icon.bell {
    @apply w-11/12;
  }
  .benefits-testimonial {
    @apply mx-3 my-10 light-purple rounded-3xl px-5 py-20 text-center text-white md:px-20 md:mx-6 2xl:mx-16 lg:mb-20 2xl:px-40 2xl:mb-40;
  }
  .quote-icon {
    @apply mx-auto w-[40px] md:w-auto;
  }
  .benefits-testimonial .testimonial {
    @apply text-4xl my-20 md:text-6xl xl:text-8xl;
  }
  .benefits-testimonial .company {
    @apply md:text-2xl 2xl:text-4xl;
  }

  .video-testimonial {
    @apply h-[400px] rounded-3xl mx-2 my-5 lg:mx-20 lg:h-[500px] xl:h-[600px] 2xl:h-[700px] overflow-hidden flex justify-center;
  }
  .testimonial-heading {
    @apply text-center text-5xl my-10;
  }
  .testimonials {
    @apply mx-4 border-4 rounded-3xl p-10;
  }
  .testimonials .star {
    @apply w-5 inline-block mr-1;
  }
  .testimonials .title {
    @apply font-bold font-serif-italic text-3xl my-6;
  }
  .testimonials .testimonial {
    @apply text-xl;
  }
  .testimonials .company {
    @apply text-xl font-light mt-10;
  }
  .secondary-button {
    @apply border-4 my-10  px-10 py-5 rounded-full uppercase font-bold text-xl hover:bg-primary-color;
  }
}
@media (min-width: 768px) {
  .nav-menu {
    position: static;
    display: flex;
    height: auto;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }
  .nav-menu {
    @apply space-y-0 py-0 space-x-10 ml-auto;
  }
  .nav-menu .nav-link {
    @apply text-base;
  }
  .reel-container {
    @apply rounded-full;
  }

  .social-reel {
    @apply p-10;
  }
}
@media (min-width: 1920px) {
  .social-reel {
    @apply p-40;
  }
  .reel-container {
    @apply h-[800px];
  }
  .socials .title {
    @apply mx-80;
  }
  .problem-heading {
    @apply text-9xl;
  }
  .caption-container .caption {
    @apply text-4xl;
  }
}
